.cart-container {
    padding: 6px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    img {
        max-height: 1%;
    }
}

table, th, td {
    border: 1px solid black;
}

.quantity {
    text-align: center;
}

.remove {
    color: red;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}