.product-container {
    background: #F2F8FE;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 210px;
    margin-bottom: 15px;

    .title {
        padding: 5px;
        font-size: 20px;
    }

    .price {

    }

    .img {
        display: flex;
        justify-content: center;
        background: white;

        img {
            border: 1px solid black;
            object-fit: cover;
            width: 175px;
            height: 175px;
            padding: 15px;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        
        .add-to-cart-button {
            background: #EEC268;
            width: 160px;
            height: 35px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}
