.product-container {
    background: #F2F8FE;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;

    .title {
        padding: 5px;
        font-size: 30px;
    }

    .price {

    }

    .img {
        display: flex;
        justify-content: center;
        // width: 65%;

        img {
            border: 1px solid black;
            object-fit: cover;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        
        .add-to-cart-button {
            // width: 100%;
        }
    }
}
