.product-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 210px;
    margin-bottom: 15px;

    .title {
        padding: 5px;
        font-size: 14px;
    }

    .price {
        margin-top: 10px;
    }

    .img {
        display: flex;
        justify-content: center;
        background: white;

        img {
            border: 1px solid black;
            object-fit: cover;
            width: 175px;
            height: 175px;
            padding: 15px;
        }
    }

    

    .bottom {
        display: flex;
        justify-content: center;
        
        .add-to-cart-button {
            background: #EEC268;
            width: 160px;
            height: 35px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid black;
            cursor: pointer;
        }

        .quantity {
            display: flex;
        }

        .quantity-button {
            cursor: pointer;
            border: 1px solid black;
            background: #EEC268;  
            padding-left: 10px;
            padding-right: 10px;
            height: 40px;
            width: 40px;
            font-size: 30px;
        }

        .quantity-amount {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            width: 30px;
            font-size: 16px;
            font-weight: bold;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
