.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
}

.products {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: gray;
  padding-top: 15px;
}