.app {
  display: flex;
  flex-direction: column;
  // width: 1200px;
}

.app {
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.app .top-bar a {
  width: 100px;
}

.app .top-bar a img{
  width: 100%;
}

.app {
  .top-bar {
    .top-subtotal-cart-count {
      padding-right: 20px;
    }

    .search {
      width: 35%;
    }
  }

  .filter-bar {
    background: #F6C155;
  }
}

.app .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15px;
}