.app {
  display: flex;
  flex-direction: column;
  position: relative;

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      width: 8%;
  
      img{
        width: 100%;
      }    
    }    

    .search {
      width: 35%;
    }    

    .top-subtotal-cart-count {
      width: 10%;
      padding-right: 20px;
      
      div {
        margin-bottom: 15px;
      }
    }
  }

  .filter-bar {
    background: #F6C155;
    display: flex;

    div {
      padding: 7px;
    }
  }
}

.app .body {
  display: flex;

  .left {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
  }

  .full-left {
    width: 100%;
  }

  .right {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .hidden-right {
    display: none;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 15px;
}